#mylogo{
    margin-top: -30%;
    height: 110px
}
.main-menu ul>li a:hover{
    border: 5px solid rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    background-color: white;
}

.mybtn{
    border: 5px solid rgba(255, 0, 0, 0.692);
    color: rgb(218, 0, 0);
}
.text-bg a{
    color:red;
    background-color: rgba(235, 14, 14, 0.205);
}
.how{
    height: auto;
}
.cap{
    font-size: 45px;
    color: rgb(80, 79, 79);
    font-weight: 600;
    text-shadow: black 1px 1px;
}
i>img{
    height: 300px;
    width: auto;
    border-radius: 110%;
}
.loca>li>a>img{
    height: 30px;
}
.insta_img>figure>img{
    width: 300px;
    height: 100px;
}